form { font-family: Arial }

.description { margin-top: 10px; margin-bottom: 10px; background-color: #eee; clear:both }

.upload { float: left; margin-top: 10px }

.buttons { float: left; margin-top: 10px  }